<div class='panel panel-info'>
  <div class="panel-heading clearfix">
    <h3>Torrents</h3>
    <button type="button" ng-click="addTorrent()" class="btn btn-success float-right"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
  </div>

  <table ng-table='tableParams' class='table table-bordered table-striped table-torrents'>
    <tr ng-repeat='torrent in torrents'>
      <td data-title="'Name'">
        <a ng-if="torrent.name" ng-href="/torrent/{{torrent.infoHash}}">{{torrent.name}}</a>
        <span ng-if="!torrent.name">{{torrent.infoHash}}</span>
      </td>
      <td data-title="'Status'">
        <div ng-switch="torrent.status">
          <div ng-switch-when="downloading"><progressbar style="min-width: 120px" ng-class="{ 'progress-striped': true, 'active': (torrent.percentDone > 0 && torrent.percentDone < 100) }" value="torrent.percentDone"><span ng-class="{ 'percent-done': true, black: (torrent.percentDone < 30) }">{{+torrent.percentDone.toFixed(2)}}%</span></progressbar></div>
          <span ng-switch-when="metadata">Downloading metadata...</span>
          <span ng-switch-when="verifying">Verifying data {{torrent.percentDone.toFixed(2)}}%</span>
          <span ng-switch-when="complete">Complete</span>
        </div>
      </td>
      <td data-title="'ETA'">{{torrent.eta}}</td>
      <td data-title="'Size'">{{torrent.length}}</td>
      <td data-title="'Peers'">{{torrent.numPeers}}</td>
      <td data-title="'Download Speed'">{{torrent.downloadSpeed}}</td>
    </tr>
  </table>
</div>
