<h3 class='title'>{{torrent.name}}</h3>

<tabset justified="true">
  <tab> <!-- General -->
    <tab-heading><span class="glyphicon glyphicon-info-sign"></span> General</tab-heading>
    <div class="easy-pie-chart" easypiechart options="pieChartOptions" percent="torrent.percentDone"><span>{{torrent.percentDone.toFixed(2)}}%</span></div>
  </tab>

  <tab> <!-- Peers -->
    <tab-heading>
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="glyphicon glyphicon-user"></span> Peers <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="showMap=true">Map</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="showMap=false">List</a></li>
        </ul>
      </div>
    </tab-heading>

    <div ng-if="showMap" id="peer-map" peermap></div>
    <div ng-if="!showMap" id="peer-list">
      <div class='panel panel-info'>
        <div class="panel-heading">
          <h3>Peers</h3> ({{peers.length}})
        </div>

        <table ng-table='tableParams' class='table table-bordered table-striped table-wire'>
          <tr ng-repeat='wire in peers'>
            <td data-title="'Country'">
              {{wire.country.toUpperCase()}} <img ng-src="/assets/img/flags/{{wire.country}}.png" />
            </td>
            <td data-title="'IP'">{{wire.ip}}</td>
            <td data-title="'Port'">{{wire.port}}</td>
            <td data-title="'Client'">{{wire.client}}</td>
            <td data-title="'Downloaded'">{{wire.downloaded}}</td>
            <td data-title="'Download Speed'">{{wire.downloadSpeed}}</td>
            <td data-title="'Pieces'">
              <div ng-if="wire.complete" class="pieces-bitfield pieces-bitfield-complete"></div>

              <div ng-if="!wire.complete" class="pieces-bitfield">
                <div class="piece" ng-style="{ width: (102.0 / wire.pieces.length) + '%', left: (100 * $index / wire.pieces.length) + '%', opacity: piece / 255 }" ng-repeat="piece in wire.pieces track by $index"></div>
              </div>
            </td>
            <td data-title="'Status'">{{wire.status}}</td>
          </tr>
        </table>
      </div>
    </div>
  </tab>

  <tab> <!-- Pieces -->
    <tab-heading><span class="glyphicon glyphicon-stats"></span> Pieces</tab-heading>
    <div class='panel panel-info'>
      <div class="panel-heading clearfix">
        <h3>Pieces Downloaded</h3> ({{torrent.pieces.length}} total)
        <toggle-switch model="torrent.selectedStrategy" class="switch-warning switch-small float-right"
          knob-label="Strategy" on-label="Sequential" off-label="Rarest">
        </toggle-switch>
      </div>

      <div ng-if="torrent.done" class="pieces-bitfield pieces-bitfield-complete pieces-bitfield-large"></div>
      <div ng-if="!torrent.done" class="pieces-bitfield pieces-bitfield-large">
        <div class="piece" ng-style="{ width: (102.0 / torrent.pieces.length) + '%', left: (100 * $index / torrent.pieces.length) + '%', opacity: piece / 255 }" ng-repeat="piece in torrent.pieces track by $index" tooltip-placement="bottom" tooltip="Piece {{$index}}: {{+(100 * piece / 255).toFixed(0)}}% downloaded"></div>
      </div>
    </div>

    <div class='panel panel-info' ng-if="torrent.availability">
      <div class="panel-heading">
        <h3>Piece Availability</h3> (across {{peers.length}} peers)
      </div>

      <div class="pieces-bitfield pieces-bitfield-large pieces-bitfield-availability">
        <div class="piece" ng-style="{ width: (102.0 / torrent.availability.length) + '%', left: (100 * $index / torrent.availability.length) + '%', background: 'hsl(' + (256 - (256 - 120) * piece.relative) + ', 100%, 79%)' }" ng-repeat="piece in torrent.availability track by $index" tooltip-placement="bottom" tooltip="Piece {{$index}}: {{piece.absolute}} available"></div>
      </div>
    </div>
  </tab>

  <tab disabled="!torrent.streamable"> <!-- Stream -->
    <tab-heading><span class="glyphicon glyphicon-play"></span> Stream</tab-heading>

    <div ng-if="torrent.streamable">
      <video videojs class="video-js vjs-default-skin"></video>
    </div>
  </tab>
</tabset>

